<div class="profilepic">
    <img src="{{ include.url }}" alt="{{ include.description }}"/>

    <p>
    I am Alceu Costa, a PhD student in Computer Science at the University of
    São Paulo (USP) in Brazil.
    Part of my ongoing PhD project included a visiting period of one year at
    Carnegie Mellon University.
    Currently, I am researching data mining techniques to detect bots and
    fraudsters on social media based on temporal data.
    I am also working on modeling information cascades and user communication
    behavior.
    </p>
</div>
<div style="clear: both;"></div>